<nav class="navbar navbar-inverse navbar-fixed-bottom bg-dark ">
 <div class="container">
  <ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="http://localhost:3000/pages/one">One</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="http://localhost:3000/pages/two">Two</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="http://localhost:3000/pages/three">Three</a>
  </li>
  
  </ul>
 </div> 
</nav>
<div class="container">
    <h1>Rodrigo Raiman Quiroga</h1>
    <p>Find me in app/views/pages/one.html.erb</p>
</div>